.App{
    .sidebar{
        width: 16%;
        height: 100vh;
        background-color: #3b4153;
        position: fixed;
        border-right: 1px solid #797979;
    }

    .main-content {
        width: 84%;
        margin-left: 16%;
        background-color: #1d88df;
        min-height: 100vh;
        background-image: url(../Assets/back.jpg);
        display: grid;
        position: relative;
    }

}