.App{
    .sidebar{
        width: 16%;
        height: 100vh;
        background-color: #3b4153;
        position: fixed;
        border-right: 1px solid #797979;
    }

    .main-content {
        width: 84%;
        margin-left: 16%;
        background-color: #6aacde;
        min-height: 100vh;
        //background-image: url(../Assets/back.jpg);
        display: grid;
        position: relative;
    }
    .content{
        margin: 5rem 15rem;
        @media screen and (max-width: 1100px){
            margin: 2rem 10rem;
        }
        @media screen and (max-width: 1400px){
            margin: 3rem 10rem;
        }
        @media screen and (max-width: 1400px){
            margin: 3rem 10rem;
        }
        @media screen and (max-width: 710px){
            margin: 2rem 3rem;
        }
    }
}